**/.clj-kondo
**/.cpcache
**/.DS_Store
**/.env
**/.idea
**/.lsp
**/.nrepl-port
**/*.~undo-tree~
**/*.iml
**/report.html
**/yarn-error.log
fly.toml
yarn.lock

# ignore target artifacts – docker owns the prod build
**/.shadow-cljs
**/node_modules
**/output.calva-repl
**/resources/public/*.min.css
**/resources/public/js
**/target
**/tsconfig.tsbuildinfo
# **/src/**/*.js -- we commit precompiled js files (Failure.js, Pending.js), as well as .class