*.iml
/!.idea/ClojureProjectResolveSettings.xml
/.calva
/.clj-kondo
/.clj-kondo/.cache
/.cpcache
/.idea/*
/.lsp/.cache
/.nrepl-port
/.shadow-cljs
/.vscode
/node_modules
/report.html
/resources/public/js
/target
/yarn-error.log