{:paths ["src"]
 :deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
        com.hyperfiddle/electric {:mvn/version "v2-alpha-60-g4cb70086"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"
                                        :exclusions [org.slf4j/slf4j-api
                                                     info.sunng/ring-jetty9-adapter-http3]}
        missionary/missionary {:mvn/version "b.27-SNAPSHOT"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :aliases {:dev
           {:extra-deps
            {binaryage/devtools {:mvn/version "1.0.6"}
             thheller/shadow-cljs {:mvn/version "2.20.1"}}
            :jvm-opts
            ["-Xss2m" ; https://github.com/hyperfiddle/photon/issues/11
             "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"
             "-Dlogback.configurationFile=src/logback.xml"
             "-XX:-OmitStackTraceInFastThrow" ;; RCF
             "-XX:+UnlockDiagnosticVMOptions"
             "-XX:+DebugNonSafepoints"]
            :exec-fn user/main
            :exec-args {}}}}
