{:deps   {:aliases [:dev]}
 :nrepl  {:port 9001}
 :builds {:app {:target      :browser
                :devtools    {:watch-dir       "resources/public"
                              :hud             #{:errors :progress}
                              :ignore-warnings true}
                :output-dir  "resources/public/js"
                :asset-path  "/js"
                :modules     {:main {:entries [user]
                                     :init-fn user/start!}}
                :build-hooks [(shadow.cljs.build-report/hook
                               {:output-to "target/build_report.html"})
                              (user/rcf-shadow-hook)]}}}
