/* TODO migrate to Tailwind */

/* Dustin: Ring intermittently failing to follow symlinks, so I copied the 
contents. Note the hfql-tree-grid.css symlink is working. */
@import url('hyperfiddle/hyperfiddle-forms-copy.css');
@import url('hyperfiddle/hyperfiddle-electric-ui-copy.css');
@import url('hyperfiddle/hyperfiddle-popover-copy.css');
@import url('hyperfiddle/hfql-tree-grid.css');

@import url('user/examples.css');
@import url('user/github-markdown.css');
@import url('user/gridsheet-optional.css');
@import url('user/todomvc.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body.hyperfiddle {
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
    /* font-size: 0.8rem; */
    /*min-height: 101vh; !* DEMO ONLY, force scrollbar to show up, preventing paint flashing  *!*/
    background-color: rgb(248 250 252);
}

.hyperfiddle ol,
.hyperfiddle ul,
.hyperfiddle dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hyperfiddle dl {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0 1em;
}

.hyperfiddle dt {
    grid-column: 1;
    font-weight: 700;
}

.hyperfiddle dd {
    grid-column: 2;
    margin-bottom: .5rem;
    margin-left: 0;
}
