.user-examples-nav{
    grid-area: nav;
}

.user-examples-footer-nav{
    grid-area: footer-nav;
    padding-bottom: 10vh;
}

.user-examples-nav,
.user-examples-footer-nav{
    display: grid;
    grid-auto-flow: column;
    width: auto;
    place-items: center;
    align-self:center;
    justify-self: start;
}

.user-examples-nav *,
.user-examples-footer-nav *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.user-examples-select{
    margin: 0 1rem;
    display:flex;
    align-items: center;
    position: relative;
}

.user-examples-select > select{
    appearance: none;
    flex:1;
    border: 1px gray solid;
    border-radius: 3px;
    padding: 0.25rem 3rem 0.25rem 0.5rem;
}

.user-examples-select > svg{
    width: 1rem;
    position: absolute;
    right: 0.5rem;
    pointer-events:none;
}

@media (max-width: 980px) and (hover: none) and (pointer: coarse) {
    .user-examples-select > select{
        padding: 0.5rem 3rem 0.5rem 1rem;
    }
    .user-examples-select optgroup, .user-examples-select option{
        font-size: 1rem;
    }
    .user-examples-code{
        overflow: scroll;
        margin:0;
    }
    .user-examples-target.SystemProperties input{
        font-size: 1em;
    }

    .user-examples-target.SystemProperties td{
        white-space: nowrap;
    }
}

@media (max-width: 980px){
    .user-examples-nav,
    .user-examples-footer-nav{
        grid-template-areas: "select select" "prev next";
        gap: 1rem;
    }
    .user-examples-nav-start{
        grid-template-areas: "select next";
    }

    .user-examples-nav-end{
        grid-template-areas: "prev select";
    }

    .user-examples-nav .user-examples-nav-prev {
        grid-area: prev;
    }
    .user-examples-nav .user-examples-nav-next {
        grid-area: next;
    }

    .user-examples-select{
        grid-area: select;
    }

    .user-examples-select > select{
        font-size: 1em;
        padding: 0.25em 3em 0.25rem 0.5rem;
    }
    .user-examples-select > svg{
        width: 1em;
        right: 1em;
    }
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .user-examples-select{
        font-size: 1rem;
    }
}